
@{_Layout = "~/Includes/Master.cshtml";}

  
<div class="hero-unit">

    <h1>Welcome</h1>
    <p>
        This site is a resource for all things related to Hypermedia APIs.  Whether you just discovered the term, looking to gain a deeper understanding, or hunting for toolkits to help you build APIs, I hope you will find this a valuable collection of resources.
    </p>
    <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Introduction</h2>
          <p>Want to know what all the fuss is about?  We describe what hypermedia is and what it can do for you.</p>
          <p><a class="btn" href="/Introduction">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Learning</h2>
          <p>Looking for resources to learn how to build your own hypermedia APIs. Look no further.</p>
          <p><a class="btn" href="/Learning">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Tooling</h2>
          <p>Ready to start coding.  Here you will find links to frameworks, libraries and samples.</p>
          <p><a class="btn" href="/Toolkits">View details &raquo;</a></p>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; Tavis Software Inc. 2012</p>
      </footer>
