
@{_Layout = "~/Includes/Master.cshtml";}


<p>This site is built using Microsoft's Web API technology to make the point that a Web Site is really just a hypermedia API designed to serve up content to native clients called web browsers.</p>

<p>The content on this site has been accumulated from around the web to hopefully make the learning process that little bit easier.</p>

<p>In case you are wondering who is responsible for curating this chaotic collection, that would be me, @Model.Name</p>

<p>a.k.a.</p>
<ul>
    <li>Twitter: @Model.TwitterName</li>
    <li>Blog: @Model.BlogUrl.OriginalString</li>
    <li>Email: @Model.Email</li>

</ul>