<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
        <link rel="Stylesheet" href="/Stylesheets/Site.css"
	</head>
	<body>
      <h1>Welcome</h1>
	    @RenderBody()
	</body>
</html>